<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892820159007-16utb6met3l3mv7g18u6qis1u3b1l4ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892820159007-16utb6met3l3mv7g18u6qis1u3b1l4ef</string>
	<key>API_KEY</key>
	<string>AIzaSyA6-JN_n-HIKQT-0svNPe8tPt2Lk7TmHLE</string>
	<key>GCM_SENDER_ID</key>
	<string>892820159007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kellett.reed.999.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-e12d3</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-e12d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892820159007:ios:9a87ad9e85617eb49c732a</string>
</dict>
</plist>